.dateFilter {
    gap: 1rem;

    &-changeType {
        border-radius: 8px;
        border: 1px solid #F9F9F9;
        background: #F7FAFC;
        padding: 0.4375rem 1rem 0.4375rem 0.5rem;
        align-items: center;
        gap: 0.5rem;

        &__label {
            color: var(--gray);
            font-size: 0.875rem;
            font-family: Open Sans;
            font-weight: 500;
            line-height: 1.5rem;
            letter-spacing: -0.0125rem;
        }

        &__btn {
            width: 2rem;
            height: 2rem;
            display: flex;
            padding: 0.375rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
            border-radius: 8px;
            box-shadow: none;
            background-color: #f7fafc;
            border: 1px solid #f7fafc;
            color: var(--accent);
            border: none;

            &--active {
                border-radius: 8px;
                color: white;
                background-color: var(--accent);
            }

            &__icon {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &-byDate,
    &-byCycle {
        color: var(--gray);
        font-size: 0.875rem;
        font-family: Open Sans;
        line-height: 1.5rem;
        letter-spacing: -0.0125rem;
        gap: 1rem;
    }

    &-byCycle {
        &__compareBox {
            border-radius: 4px;
            border: 1px solid #F9F9F9;
            background: #F7FAFC;
            padding: 0 0.5rem;

            .form-check-input:checked {
                background-color: var(--accent);
                border-color: var(--accent);
            }

            .form-check-label {
                font-weight: 500;
                color: var(--black);
            }
        }
    }


}